/* General style */
body {
    background-color: #000000;
    font-family: 'Press Start 2P', cursive;
    color: #00ff00;
    text-shadow: 1px 1px #000000;
  }
  
  /* Header styles */
  .headerBox {
    background-color: #ff0000;
    padding: 1em;
    text-align: center;
  }
  
  .headerBox h1 {
    font-family: 'VT323', sans-serif;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-align: center;
  }
  
  /* Result styles */
  .roundResult {
    font-family: 'VT323', sans-serif;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 1em;
  }
  
  /* Score styles */
  .scoreBox {
    font-family: 'VT323', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 1em;
}
  
  .computer, .player {
    font-size: 1.5em;
    margin-right: 0.5em;
  }
  
  .computerLastchoice, .playerLastchoice {
    font-size: 2em;
    margin-right: 0.5em;
  }
  
  /* RPS button styles */
  .optionsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    }
    
    .rockButton, .paperButton, .scissorsButton {
    width: 8em;
    height: 8em;
    background-color: #333;
    border-radius: 50%;
    border: 2px solid #04BF68;
    margin: 0 1em;
    box-shadow: 2px 2px 2px #000;
    transition: all 0.2s ease-in-out;
    }
    
    .rockButton:active, .paperButton:active, .scissorsButton:active {
    transform: scale(0.95);
    box-shadow: none;
    }
    
    .rpsOption {
    font-size: 3em;
    color: #04BF68;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    margin-top: 0.5em;
    }
    
    footer {   
    margin-top: 1.5em;
    font-size: 1em;
    text-align: center;
    font-family: 'VT323', sans-serif;
    color: #04BF68;
    }
    
    a {
    color: #04BF68;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    }
    
    a:hover {
    color: #fff;
    text-shadow: 2px 2px 2px #04BF68;
    }
    
    /* Media Queries */
    
@media only screen and (max-width: 720px) {
    .scoreBox {
    flex-wrap: wrap;
    }
    
    .pmarker, .cmarker {
        font-size: 2em;
        width: 10%;
    }
    
    .playerLastchoice, .computerLastchoice {
        font-size: 2em;
        width: 5%;
    }
    
    .computer, .player {
        font-size: 2em;
        width: 10%;
    }
    
    .optionsBox {
        flex-wrap: wrap;
    }
    
    .rockButton, .paperButton, .scissorsButton {
        width: 6em;
        height: 6em;
    }
    
    .rpsOption {
        font-size: 2em;
    }
    }

    
@media (min-width: 720px) {
    .computer, .player {
        font-size: 3em;
    }
    .computerLastchoice, .playerLastchoice {
        font-size: 2.5em;
    }
    .computer, .player, .computerLastchoice, .playerLastchoice {
        margin-right: 1em;
    }
    .pmarker, .cmarker {
        font-size: 2.5em;
        width: 10%;
    }
    }

        
        
        
        
        